/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "descent-title-stnd";
  src: url("./fonts/valdemar.eot"); /* IE9 Compat Modes */
  src: url("./fonts/valdemar.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/valdemar.otf") format("opentype"), /* Open Type Font */
    url("./fonts/valdemar.svg") format("svg"), /* Legacy iOS */
    url("./fonts/valdemar.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/valdemar.woff") format("woff"), /* Modern Browsers */
    url("./fonts/valdemar.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
